body {
    background-size: 100%;

    background-color: #422303;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: unset;
    text-align: center; 
    background-position: center center;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #aa6804;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #a5750d}

.button:active {
  background-color: #a86b1c;
  box-shadow: 0 5px rgb(102, 74, 55);
  transform: translateY(4px);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;

}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}
